.Card {
  width: 300px;
  height: auto;
  margin: auto;
  padding: 0px;
}
.Card:hover {
  box-shadow: 0px 2px 15px 2px #fffdfd;
}
.Product-detail {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: black;
  min-height: 100vh;
  padding-inline: 200px;
}
.ItemCount {
  text-align: center;
}
